[Unit]
Description=dog
After=network-online.target
Requires=network-online.target

[Service]
CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_DAC_READ_SEARCH CAP_NET_ADMIN CAP_NET_RAW
User=dog
Group=dog
ExecStart=/opt/dog/dog_start.sh
ExecStop=/opt/dog/dog_stop.sh
WorkingDirectory=/opt/dog
WorkingDirectoryPreserve=yes
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
