[submodule "dog_agent"]
	path = dog_agent
	url = https://github.com/relaypro-open/dog_agent
[submodule "dog_park"]
	path = dog_park
	url = https://github.com/relaypro-open/dog_park
[submodule "dog_trainer"]
	path = dog_trainer
	url = https://github.com/relaypro-open/dog_trainer
