.vagrant
_site
*.deb
ansible/ansible.log
disabled
ansible/repos
ansible/lxd
ansible/ca_passphrase.txt
ansible/vagrant_dot_asdf/
ansible/vagrant_profile-d_asdf_sh
dog_trainer
dog_trainer_home
dog_agent
dog_agent_home
dog_park
csc
csc_tmp
