[ ca ]
default_ca = consul

[ req ]
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = US
ST = NC
L = Raleigh
O = republicwireless
OU = Product
CN = {{ cn }}

[ v3_req ]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth

[ v3_ca ]
basicConstraints = CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
 
[alt_names]
DNS.1 = republicwireless.consul
DNS.2 = republicdev.consul

[ crl_ext ]
# issuerAltName=issuer:copy  #this would copy the issuer name to altname
authorityKeyIdentifier=keyid:always

[ consul ]
new_certs_dir = /tmp/consul/ssl/
unique_subject = no
certificate = /tmp/consul/ca/consul-root.cer
database = /tmp/consul/ssl/certindex
private_key = /tmp/consul/ca/private.pem
serial = /tmp/consul/ssl/serial
default_days = 1825
default_md = sha256
policy = consul_policy
x509_extensions = consul_extensions
email_in_dn = no
copy_extensions = copy

[ consul_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[ consul_extensions ]
basicConstraints = CA:false
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth,clientAuth
crlDistributionPoints = URI:http://ca.consul/consul.crl
