[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rethinkdb = "*"
ipython = "*"
python-benedict = "*"
api-client = {git = "https://github.com/Phonebooth/api-client.git"}
dog-api-python = {git = "https://github.com/relaypro-open/dog_api_python.git"}

[dev-packages]

[requires]
python_version = "3.9"
