##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# http://wiki.nginx.org/QuickStart
# http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean
# file but keep this around for reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

# Default server configuration
#
server {
	listen 3000 default_server;
	listen [::]:3000 default_server;

        location /api/ {
            auth_request /oauth2/auth;
            error_page 401 = /oauth2/sign_in;
        
            # pass information via X-User and X-Email headers to backend,
            # requires running with --set-xauthrequest flag
            auth_request_set $user   $upstream_http_x_auth_request_user;
            auth_request_set $email  $upstream_http_x_auth_request_email;
            proxy_set_header X-User  $user;
            proxy_set_header X-Email $email;
        
            # if you enabled --cookie-refresh, this is needed for it to work with auth_request
            proxy_pass http://localhost:7070/api/;
        
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        
            proxy_set_header  Host $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            proxy_set_header   X-Real-Port      $remote_port;
            proxy_set_header   X-Forwarded-Proto $scheme;
        }

        location /flan_api/ {
            root /opt/flan;
            # pass information via X-User and X-Email headers to backend,
            # requires running with --set-xauthrequest flag
            auth_request_set $user   $upstream_http_x_auth_request_user;
            auth_request_set $email  $upstream_http_x_auth_request_email;
            proxy_set_header X-User  $user;
            proxy_set_header X-Email $email;
        
            # if you enabled --cookie-refresh, this is needed for it to work with auth_request
            auth_request_set $auth_cookie $upstream_http_set_cookie;
            add_header Set-Cookie $auth_cookie;
        }
 
        location / {
            root   /opt/dog_park;
            index  index.html index.htm;

            try_files $uri $uri/ /index.html;
        } 
}

server {
    listen 127.0.0.1:80;
    location ^~ /nginx_status {
      stub_status on;
      access_log   off;
      allow 127.0.0.1;
      deny all;
    }
}
