#!/bin/bash
export BINDIR=/opt/dog/erts-{{ lookup('env','erts_version') }}/bin
export HOME=/opt/dog

/opt/dog/erts-{{ lookup('env','erts_version') }}/bin/erlexec -boot /opt/dog/releases/{{ lookup('env','dog_env') }}-{{ lookup('env','UPSTREAM_BUILD_ID') }}/start -mode embedded -config /opt/dog/releases/{{ lookup('env','dog_env') }}-{{ lookup('env','UPSTREAM_BUILD_ID') }}/sys.config -noinput -start_epmd false 
